@tablet-portrait: 768px;

@red: #EE4B30;
@headline: @red;
@cta-button: @red;

@gold: #DD9F00;
@cta-active-fg: @gold;

html, body { height: 100%; }
body { color: #fff; }

h1, h2, h3 {
    color: @headline;
}

h1 { font-size: 36px; }

.copy {
    text-align: right;
}

.btn-form-cta {
    background-color: @cta-button;
    &:hover, 
    &:focus {
        color: @cta-active-fg; 
    }
}

.font-graduate { font-family: Graduate, 'cursive'; }

.shh {
    display: none;
}

.form-control {
    border-radius: 16px;
}

.error {
    
}

.wrappa {
    padding-top: 3em;
}

@media screen and (min-width: @tablet-portrait) {
    .wrappa {
        padding-top: 0; 
    }
}

.polaroids-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 1624px;
    min-height: 100%;

    width: 100%;
    height: auto;

    z-index: -100;
}

@media screen and (max-width: 1624px) {
    .polaroids-bg {
        left: 50%; 
        margin-left: -812px;
    }
}

.attendance-form-bg {
    background-color: #eee;
    background-color: rgba(50,50,50, 0.8);
}

.attendance-form {
    width: 100%;
}

@media screen and (min-width: @tablet-portrait) {
    .attendance-form {
        position: absolute;
        top: 45%;
        margin-top: -170px;
    }
}

.sidebar {
    display: none;
}

@media screen and (min-width: @tablet-portrait) {
    .sidebar {
        //display: block; 
        background-color: #000;
        width: 100px;
        height: 100%;
        position: fixed;
        z-index: 100;
    }
}

.footer {
    background-color: #000;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    p { margin: 0; }
}

@media screen and (min-width: @tablet-portrait) {
    .footer {
        position: fixed; 
        bottom: 0;
        right: 0;
        padding: 5px;
        border-radius: 4px 0 0 0;
    }    
}
